<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d64</string>
				<string>d67</string>
				<string>d71</string>
				<string>d80</string>
				<string>d81</string>
				<string>d82</string>
				<string>d90</string>
				<string>d1m</string>
				<string>d2m</string>
				<string>d4m</string>
				<string>dhd</string>
				<string>g64</string>
				<string>g71</string>
				<string>p64</string>
				<string>x64</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>prg</string>
				<string>t64</string>
				<string>tap</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore Program or Tape Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>crt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore Cartridge Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vsf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VICE Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/barryw/vice-macos/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>9ePQbl/r7Yx6HiQSj8+D+qwrw0+f5TShSbASrwh5hT4=</string>
	<key>VICEMacGitSHA</key>
	<string>unknown</string>
	<key>VICEUpstreamGitSHA</key>
	<string>unknown</string>
</dict>
</plist>
